@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

* {
  font-family: Montserrat, sans-serif;
}

body {
  background-color: white;
}

button {
  margin: 10px;
}

header > a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: black;
  margin: 10px;
}

header > a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

header > a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1 {
  color: black;
  margin: auto;
  text-align: center;
  padding: 20px;
  font-size: 4em;
}

.description {
  background-color: #e49ba1;
  margin: auto;
  width: 50%;
  border-radius: 50px;
  padding: 20px;
  background-position: center;
  text-align: center;
  color: white;
}

.content {
  margin: auto;
  width: 70%;
}
article {
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(212, 193, 193, 0.2);
  border-radius: 15px;
  padding: 2px 20px 20px 20px;
  margin-top: 20px;
}

li {
  margin-top: 5px;
}

li.hyphen {
  list-style-type: none;
  margin-top: 5px;
}
